form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    background-color: #b701fe;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
}
.button_1 {
    margin-left: 20px;
    border-radius: 20px;
    width: 150px;
    height:50px;
    background-color: Coral;
    border: 1;
}
.button_2 {
    margin-left: 910px;
    border-radius: 20px;
    width: 150px;
    height:50px;
    background-color: Coral;
    border: 1;
}
.button_3 {
    margin-left: 50px;
    border-radius: 20px;
    width: 150px;
    height:50px;
    background-color: Coral;
    border: 1;
}
.image-button{

  width: 70px;
  height: 70px;
  border: none;
  background-image: url('/static/img_2/profil.png');
  background-size: cover;
}

.header {
position: fixed;
top: 0;
 left: 0;
 widht: 100 %;
 z-index: 1000;
 }

.containers{
  height:100%;
 position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.btn {
    margin-top: calc(0%);
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C5DC4', endColorstr='#4C87E6',GradientType=1 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

