<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
{% extends "push.html" %}

{% block content %}

<h6><br></h6>
<h6><br></h6>
<h6><br></h6>
<form class="form" align="center" style="margin: auto">
<div class="slideshow-container" style="margin: auto; text-align: center;">

    <div class="mySlides fade">
        <img src="/static/fon_img/fon_1.jpg" width=80% height=40%>
        <div class="text"><h5>Фон №1</h5></div>
    </div>

    <div class="mySlides fade">
        <img src="/static/fon_img/fon_2.jpg" width=80% height=40%>
        <div class="text"><h5>Фон №2</h5></div>
    </div>

    <div class="mySlides fade">
        <img src="/static/fon_img/fon_3.jpg" width=80% height=40%>
        <div class="text"><h5>Фон №3</h5></div>
    </div>


</div>
<div style="text-align: left;
    color: white;">
<a class="prev" onclick="plusSlides(-1)">❮</a>
    </div>

    <div style="color: white;"><a class="next" onclick="plusSlides(1)">❯</a></div>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div>
    <div class="input-container ic2">
        <input id="email" class="input" type="text" name="email" placeholder=" " required/>

        <label for="email" class="placeholder">Введите номер фона</label>
    </div>
        <h6>{{ error }}</h6>
        <button class="submit">Применить</button>

</div>
    </form>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
</script>

{% endblock %}
    </div>