{% extends "messenger.html" %}

{% block content %}
{% set user_sms = user_sms %}
<aside xmlns="http://www.w3.org/1999/html">
    <header>
        <input type="text" placeholder="search">
    </header>
    <ul>
        <li><a href="/messenger">К чатам</a></li>
    </ul>
</aside>
<main>
    <header style="background-color: Purple">
        <h4><img src="{{ df }}" width="100" height="40" style="border-radius: 50%;">{{ friend }}</h4>
    </header>
    <ul id="my_chat" style="height: 500px; list-style-type: none; overflow-y:scroll;">
        <li><br></li>
        {% for i in user_sms %}
        {% if i[0] == name %}
        <li style="margin-bottom: 15px;">{{
            i[1] }}</li>
        {% else %}
        <li style="margin-bottom: 15px;">{{
            i[1] }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    <footer>
        <textarea placeholder="Type your message" id="msg"></textarea>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
        <button onclick="sendMsg()">Отправить</button>
    </footer>
</main>
{% endblock %}