{% extends "messenger.html" %}

{% block content %}

<aside>
<header>
        <h1 style="display: flex; align-items:center; margin-left: 25%;"><img src="/static/img_2/tinttye.png" width="100" height="100"></h1>
    </header>
    <ul>
        {% if d != [] %}
            {% for j in count %}
            <a href="#">
                <li>
                    <img src="{{ b[j] }}" alt="" width="40" height="40">
                    <div>
                        <h2 style="font-size: 20px;">{{ d[j] }}</h2>
                    </div>
                </li>
            </a>
            {% endfor %}
        {% else %}
            <li>Тут никого нет</li>
        {% endif %}
    </ul>
</aside>
<main>

    <header style="background-color: #9c4971;">
        <div style="border-radius: 10px">

            <button style="background-color: #b8a0a0; margin-left: 500px;
    border-radius: 8px; font-size: 18px; padding: 10px;"><a href="/">На главную</a></button>

        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
    </header>
    <ul id="my_chat" style="height: 600px; list-style-type: none; overflow-y:scroll; font-size: 20px;">
        <li><br></li>
        {% for i in user_sms %}
        <li style="margin-bottom: 15px; font-size: 20px;">{{
            i }}</li>
        {% endfor %}
    </ul>
    <footer>
        <textarea placeholder="Type your message..." id="msg" style="background-color: gray; font-size: 20px;"></textarea>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
        <button onclick="sendMsg()" style="background-color: #b8a0a0;
    border-radius: 8px; font-size: 18px;">Отправить</button>
    </footer>
</main>

{% endblock %}