{% extends "push.html" %}

{% block content %}
<div style="background-image: url({{ fon }});">
    <h6><br></h6>
    {% for index in index_list %}
    <center>
        <div style="background-color: white;border-radius: 30px;width: 400px; display: inline-block;">
            <h6><br></h6>
            <h3>{{ file_list[index][1] }} {{ file_list[index][2] }}</h3>
            <center><img src="{{ file_list[index][-1] }}" width="360" height="500" style="border-radius: 5px;"></center>
            <h6><br></h6>
            <h3><a style="margin-left:220px;"><img src="/static/img_2/isbr.png" width="30" height="30"></a><a
                    style="margin-left:20px;"><img src="/static/img_2/heart.jpg" width="30" height="30"></a></h3>
        </div>
        <div style="background-color: white;border-radius: 30px;width: 400px; display: inline-block; margin-left:60px;">
            <h6><br></h6>
            <h3>{{ file_list[index + 1][1] }} {{ file_list[index + 1][2] }}</h3>
            <center><img src="{{ file_list[index + 1][-1] }}" width="360" height="500" style="border-radius: 5px;">
            </center>
            <h6><br></h6>
            <h3><a style="margin-left:220px;"><img src="/static/img_2/isbr.png" width="30" height="30"></a><a
                    style="margin-left:20px;"><img src="/static/img_2/heart.jpg" width="30" height="30"></a></h3>
        </div>
    </center>
    <h6><br></h6>
    {% endfor %}
</div>
{% endblock %}