{% extends "push.html" %}

{% block content %}
<style>
    .background {
        background-image: url({{ fon }});
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    </style>
<div class="background"></div>

    <br>
<form style="margin-left: 75vh;" method="post">
    <input class="search__input" type="text" name="user" placeholder="Введите ник..." required>
    <button class="btn_go" style="margin-left: 10px">поиск</button>
</form>
    <center><a href="/tinttye" style="color: red"><h4>{{ s }}</h4></a></center>
    <h6><br></h6>
    <center><a href="/registration"><h4 style="background-color: red; border-radius: 9px; width: 250px; color: black">{{
        error }}</h4></a></center>
    <div style="margin-left: 30%;">
    <div class="column" >
    {% for index in index_list %}
    {% if loop.index % 2 != 0 %}
    <center>
        <div style="background-color: white; border-radius: 30px; width: 400px;">
            <h6><br></h6>
            <h3>{{ file_list[index][1] }}</h3>
            <center><img src="{{ file_list[index][-2] }}" width="360" height="450" style="border-radius: 5px;"></center>
            <h6><br></h6>
            <h3>{{ file_list[index][3] }}</h3>
            <h3>
                <div>
                    <i class="heart" data-post-id="{{ file_list[index][0] }}"></i>{{ file_list[index][-1] }}
                </div>
            </h3>
        </div>
        <h6><br></h6>
    </center>
    {% endif %}
    {% endfor %}
</div>

<div class="column" style="margin-left: 5%;">
    {% for index in index_list %}
    {% if loop.index % 2 == 0 %}
    <center>
        <div style="background-color: white; border-radius: 30px; width: 400px;">
            <h6><br></h6>
            <h3>{{ file_list[index][1] }}</h3>
            <center><img src="{{ file_list[index][-2] }}" width="360" height="450" style="border-radius: 5px;"></center>
            <h6><br></h6>
            <h3>{{ file_list[index][3] }}</h3>
            <h3>
                <div>
                    <i class="heart" data-post-id="{{ file_list[index][0] }}"></i>{{ file_list[index][-1] }}
                </div>
            </h3>
        </div>
        <h6><br></h6>
    </center>
    {% endif %}
    {% endfor %}
</div>

    </div>
<script>
$(function() {
    $( "i" ).click(function() {
        var postId = $(this).data("post-id");
        $( "i[data-post-id='" + postId + "']" ).toggleClass( "press", 1000 );
    });
});
</script>

{% endblock %}
