<!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <title>Post</title>
          <style>
              html,body{
              display: grid;
              height: 100%;
	          background-color: #ABCDEF;
	          text-align: center;
              place-items: center;
	          font-family:Arial;
              }
          </style>
      </head>
      <body>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" class="form-control-file" id="photo" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Выбрать</button>
        </form>
      </body>
    </html>