<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style_3.css"/>
    <title>Tinttue</title>


</head>
<body>
{% set users = file_list %}
<header style="background-color: #534B62;">
    <img src="/static/img_2/tinttye.png" width="100" height="100"
                                           style="margin-left: 2%" >

<!--<div class="container">-->
  <a href="https://github.com/pers1290/flask" class="btn" style="margin-left: 25 px">
  <svg width="277" height="62">
    <defs>
        <linearGradient id="grad1">
            <stop offset="0%" stop-color="#FF8282"/>
            <stop offset="100%" stop-color="#E178ED" />
        </linearGradient>
    </defs>
     <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
  </svg>
    <span>Сменить фон</span>
</a>

<a href="https://github.com/pers1290/flask" class="btn" style="margin-left: 40%">
  <svg width="277" height="62">
    <defs>
        <linearGradient id="grad1">
            <stop offset="0%" stop-color="#FF8282"/>
            <stop offset="100%" stop-color="#E178ED" />
        </linearGradient>
    </defs>
     <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
  </svg>
    <span>Месенджер</span>
</a>

<a href="https://github.com/pers1290/flask" class="btn" >
  <svg width="277" height="62">
    <defs>
        <linearGradient id="grad1">
            <stop offset="0%" stop-color="#FF8282"/>
            <stop offset="100%" stop-color="#E178ED" />
        </linearGradient>
    </defs>
     <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
  </svg>
    <span>Добавить пост</span>
</a>
    <a href="/registration"><img src="/static/img_2/profil.png" width="50"
                                                                               height="50"
                                                                               style="border-radius: 100px; margin-left: 0% ; border: 1;"></a>


</header>
<!--<h5 style="background-color: SkyBlue; border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;"><input type="button" value="Сменить фон"
                                                                           class="button_1"><input type="button"
                                                                                                   value="Контакты"
                                                                                                   class="button_2"><input
            type="button" value="Сделать пост"
            class="button_3"><a href="http://127.0.0.1:7000/registration"><img src="/static/img_2/profil.png" width="50"
                                                                               height="50"
                                                                               style="border-radius: 70px; margin-left:200px; border: 1;"></a>
</h5>-->
   <form class="login_form" method="post">
        <h6><br></h6>
        {% for index in index_list %}
        <center>
            <div style="background-color: white;border-radius: 30px;width: 400px; display: inline-block;">
                <h6><br></h6>
                <center><h3>{{ file_list[index][1] }} {{ file_list[index][2] }}</h3></center>
                <center><img src="{{ file_list[index][-1] }}" width="360" height="500"></center>
                <h6><br></h6>
                <h3><a style="margin-left:220px;"><img src="/static/img_2/isbr.png" width="30" height="30"></a><a
                        style="margin-left:20px;"><img src="/static/img_2/heart.jpg" width="30" height="30"></a></h3>
<!--                <button class="like-button">
  <div class="like-wrapper">
    <div class="ripple"></div>
    <svg class="heart" width="24" height="24" viewBox="0 0 24 24">
      <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
    </svg>
    <div class="particles" style="--total-particles: 6">
      <div class="particle" style="--i: 1; --color: #7642F0"></div>
      <div class="particle" style="--i: 2; --color: #AFD27F"></div>
      <div class="particle" style="--i: 3; --color: #DE8F4F"></div>
      <div class="particle" style="--i: 4; --color: #D0516B"></div>
      <div class="particle" style="--i: 5; --color: #5686F2"></div>
      <div class="particle" style="--i: 6; --color: #D53EF3"></div>
    </div>
  </div>-->
</button>
            </div>


            <div style="background-color: white;border-radius: 30px;width: 400px; display: inline-block; margin-left:60px;">
                <h6><br></h6>
                <center><h3>{{ file_list[index + 1][1] }} {{ file_list[index + 1][2] }}</h3></center>
                <center><img src="{{ file_list[index + 1][-1] }}" width="360" height="500"></center>
                <h6><br></h6>
                <h3><a style="margin-left:220px;"><img src="/static/img_2/isbr.png" width="30" height="30"></a><a
                        style="margin-left:20px;"><img src="/static/img_2/heart.jpg" width="30" height="30"></a></h3>
            </div>
        </center>
        <h6><br></h6>
        {% endfor %}
    </form>
</div>
</body>
</html>